<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
  </head>
  <body>
    <div class = "container">
      <h1>What is ThoughtVomit?</h1>
      <h2>This site was designed to house ALL your thoughts, with no filter!</h2>
      <%= link_to 'Home', root_path %> |
      <%= link_to 'Articles listing', articles_path %>
    </div>
  </body>
</html>