<div class="container-fluid bg-light text-light p-5" id="jumbotron">
  <div class="container" id="jumbotron-text">
    <h1 class="display-4"><strong>A repository for all your thoughts</strong></h1>
    <hr>
    <p><strong>Your thoughts, be it by-the-way, well researched, or downright spontaneous opinions, deserve a forever-home.</strong></p>
    <a href="#" class="btn btn-secondary">Signup</a>
    <%= link_to "Create article", new_article_path, class: "btn btn-success" %>
  </div>
</div>