<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
  </head>
  
  <body>
    <div class="container">
      <h1>Welcome to Thought-Vomit</h1>
      <h2>Dump your smart, funny, or even silly thoughts onto this platform.</h2>
    </div>
  </body>
</html>